
<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>جزیَیات غدا</title>
</head>
<body style="background-color: aqua;">
        <ul>
                <h1><li>Nmae:{{foods.name}}</li></h1>
                <h1><li>Price:{{foods.price}}</li></h1>
                <h1><li>Photo<br></li></h1>
                <img src="{{foods.photo.url}}" alt="" style="height: 300px;width:300px mt-3">
        </ul>
</body>
</html>